@import '../../../../variables';
.inputs .chat-input-field .input-chat {
    /* Your existing styles */
    line-height: normal;
    /* Reset line-height */
}

.inputs, .inputs-mobile {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    width: 100%;
}
.chat-input-box{
    flex-grow: 2;
    .chat-input-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .input-container {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }
        .input-icon {
            position: absolute;
            right: 10px;
            /* Adjust the icon's position as needed */
            bottom: -4px;
            transform: translateY(-50%);
            z-index: 1;
            padding: 6px;
            border-radius: 50px;
            
        }
        :hover {
            background-color: $gray-50;
        }
        :active {
            background-color: $gray-100;
        }
        label {
            color: $text;
            font-size: 16px;
            font-weight: 500;
        }
        /* Add this pseudo-element for vertical alignment */
        .input-chat::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .input-chat {
            width: 100%;
            max-height: 200px;
            padding: 8px 32px 0px 12px;
            border-radius: 10px;
            border: none;
            background-color: $gray-background;
            font-size: 1em;
            resize: none;
            overflow-y: auto;
            transition: height 0.2s ease;
            outline: none;
        }
        ::placeholder {
            // line-height: 40px;
            font-size: 1em;
        }
    }
    
}

.blob-button {
    border-radius: 10px;
    background-color: $gray-background;
    .blob-container {
        display: flex;
        padding: 16px 16px;
        align-items: center;
        gap: 8px;
    }
     :hover {
        border-radius: 10px;
        background-color: $gray-50;
    }
}

.send {
    background-color: $primary-color;
    i {
        color: #FFF;
    }
     :hover {
        border-radius: 10px;
        background-color: $primary-color-hover;
    }
}

.microphone {
    background-color: $secondary-color;
    i {
        color: #FFF;
    }
     :hover {
        border-radius: 10px;
        background-color: $secondary-color-hover;
    }
}

.share {
    background-color: $gray-background;
    i {
        color: $primary-color;
    }
     :hover {
        border-radius: 10px;
        background-color: $gray-50;
    }
}