@import '../../../../variables';
// .chat-container {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0px 16px 16px 16px;
//     overflow: hidden;
//     gap: 16px;
// }

.main-container {
    display: flex;
    // max-width: 900px;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    height: calc(100vh - 96px);
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgba(3, 61, 72, 0.25);
    background: #FFF;
    gap: 16px;
    .top-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
        .message-user {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            .message-blob {
                display: flex;
                padding: 16px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;
                border-radius: 12px;
                background: #F4F4F4;
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    .user {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .circle-avatar {
                            width: 32px;
                            height: 32px;
                            border-radius: 100px;
                            background-image: url("https://i.pravatar.cc/32");
                        }
                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                    .icons {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            .details-icon {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
        .message-ai {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 16px;
            .message-blob-ai {
                display: flex;
                width: 100%;
                padding: 16px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                background-color: $primary-color-light;
                border-radius: 12px;
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    .ai {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .circle-ai {
                            width: 32px;
                            height: 32px;
                            border-radius: 100px;
                            background-color: green;
                        }
                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                    .icons {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            .details-icon {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .button-down-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                align-self: stretch;
                .circle-button {
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    background: #EFEFEF;
                    padding: 8px;
                }
            }
        }
    }
    .bottom-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        width: 100%;
        position: sticky;
        bottom: 0;
        .actions {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 8px;
            width: 100%;
            .button-refresh {
                display: flex;
                padding: 8px 16px;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                border: $gray-100;
                background: $gray-background;
                i,
                span {
                    color: $text;
                }
            }
            .button-play {
                display: flex;
                padding: 8px 16px;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                border: 1px solid rgba(34, 197, 94, 0.50);
                background: #F6FDF9;
                i,
                span {
                    color: #15803D;
                }
            }
            .button-stop {
                display: flex;
                padding: 8px 16px;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                border: 1px solid rgba(185, 28, 28, 0.50);
                background: #FEF8F8;
                i,
                span {
                    color: #B91C1C;
                }
            }
        }
        .prompts {
            display: flex;
            gap: 8px;
            align-items: flex-end;
            align-self: stretch;
            .button-prompt {
                display: flex;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                border-radius: 12px;
                background: $secondary-color-light;
                border: none;
                i,
                span {
                    color: $text;
                }
            }
        }
    }
}

.column-chats-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    // max-width: 500px;
    justify-content: space-between;
    // height: calc(100vh - 96px);
    height: 100%;
    .wrapper-search-chats {
        .search-field {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .search-container {
                position: relative;
            }
            .search-icon {
                position: absolute;
                left: 10px;
                /* Adjust the icon's position as needed */
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
            label {
                color: $text;
                font-size: 16px;
                font-weight: 500;
            }
            .search-input {
                align-self: stretch;
                padding-left: 30px;
                padding-right: 8px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-radius: 10px;
                border: 1px solid $primary-color;
                background-color: $primary-color-light;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                display: inline-flex;
                font-size: 1em;
            }
        }
        .chats {
            overflow-y: auto;
        }
        .all-chats,
        .client-chats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;
            width: 100%;
        }
        .header {
            display: flex;
            padding: 8px 0px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .title {
                display: flex;
                align-items: center;
                gap: 4px;
                color: $primary-color-dark;
            }
            .button-plus {
                display: flex;
                padding: 8px;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                background: #E7FAFE;
                border: none;
            }
        }
        .chat {
            display: flex;
            padding: 16px 8px;
            align-items: center;
            width: 100%;
            border-radius: 16px;
            background: #EFEFEF;
            .content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
            }
        }
        .chat-client {
            display: flex;
            padding: 16px 8px;
            align-items: center;
            width: 100%;
            border-radius: 16px;
            background: #EFEFEF;
            justify-content: space-between;
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
            }
            .actions {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        hr {
            width: 100%;
            margin: 0;
            border: rgba($color: $gray-100, $alpha: .25) 1px solid;
        }
        .actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            width: 100%;
        }
    }
}

.column-plugins {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
        color: $primary-color-dark;
        hr {
            width: 100%;
            border: rgba($color: $gray-100, $alpha: .25) 1px solid;
        }
    }

    .active-plugins {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .title {
            display: flex;
            gap: 8px;
            align-items: center;

            .circle-number {
                background-color: $primary-color;
                border-radius: 100px;
                padding: 2px 6px;
                span {
                    color: #FFF;
                    font-size: 14px;
                }
            }

            p {
                color: $primary-color-dark;
                font-weight: 500;
            }
        }

        .plugins-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .card-plugin {
                display: flex;
                width: 250px;
                padding: 8px 16px;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                border: 1px solid #05687A;
                background: #F0FCFE;
                cursor: pointer;

                .circle-plugin-icon {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    border: 2px solid #033D48;
                    background-color: $gray-100;

                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2px;
                    p {
                        color: $primary-color-dark;
                    }
                    small {
                        color: $text;
                    }
                }

                
            }
            .inactive {
                opacity: .50;
            }
        }
    }
    .inactive-plugins {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .title {
            display: flex;
            gap: 8px;
            align-items: center;

            .circle-number {
                background-color: $primary-color;
                border-radius: 100px;
                padding: 2px 6px;
                span {
                    color: #FFF;
                    font-size: 14px;
                }
            }

            p {
                color: $primary-color-dark;
                font-weight: 500;
            }
        }

        .plugins-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .card-plugin {
                display: flex;
                width: 250px;
                padding: 8px 16px;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                border: 1px solid #05687A;
                background: #F0FCFE;
                cursor: pointer;

                .circle-plugin-icon {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    border: 2px solid #033D48;
                    background-color: $gray-100;

                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2px;
                    
                    p {
                        color: $primary-color-dark;
                    }
                    small {
                        color: $text;
                    }
                }

                
            }
            .inactive {
                opacity: .50;
            }
        }
    }
}


.card-user {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #121212;
    h2 {
        color: #FFF;
        font-weight: 400;
        margin: 0;
    }
    p {
        color: rgba(255, 255, 255, 0.50);
        margin: 0;
    }
}

