<div class="main-container">
    <div class="top-container">
        <div class="message-user" *ngFor="let number of [0,1,2,3,4]">
            <div class="message-blob">
                <div class="header">
                    <div class="user">
                        <div class="circle-avatar"></div>
                        <p>Juan Hernandez</p>
                    </div>
                    <div class="icons">
                        <i class="pi pi-pencil"></i>
                        <i class="pi pi-save" (click)="showModalPrompt()"></i>
                    </div>
                </div>
                <div class="message">
                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                </div>
            </div>
            <div class="details-icon">
                <div class="time">
                    <small>12:20</small>
                </div>
                <i class="pi pi-microphone"></i>
            </div>
        </div>
        <div class="message-ai" *ngFor="let number of [0,1,2,3,4]">
            <div class="details-icon">
                <div class="time">
                    <small>12:21</small>
                </div>
                <i class="pi pi-microphone"></i>
            </div>
            <div class="message-blob-ai">
                <div class="header">
                    <div class="ai">
                        <div class="circle-ai"></div>
                        <p>Value AI</p>
                    </div>
                    <div class="icons">
                        <i class="pi pi-thumbs-down"></i>
                        <i class="pi pi-thumbs-up"></i>
                        <i class="pi pi-copy"></i>
                    </div>
                </div>
                <div class="message">
                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                </div>
            </div>
            <div class="button-down-container">
                <div class="circle-button">
                    <i class="pi pi-arrow-down"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="wrapper">
            <div class="actions">
                <button class="button button-refresh">
                    <span>Regenerar respuesta</span>
                    <i class="input-icon pi pi-refresh"></i>
                </button>
                <!-- <button class="button button-play">
                    <span>Continuar respuesta</span>
                    <i class="input-icon pi pi-play"></i>
                </button>
                <button class="button button-stop">
                    <span>Detener respuesta</span>
                    <i class="input-icon pi pi-stop-circle"></i>
                </button> -->
            </div>
            <div class="prompts">
                <button class="button button-prompt">Que es Value AI?</button>
                <button class="button button-prompt">Dime 10 cosas que puedo hacer con Value AI</button>
                <button class="button button-prompt">Ver más</button>
            </div>
            <app-chat-input (toggleFunctionChatInput)="toggleChatInputSettings()" (toggleFunctionShareChat)="toggleChatShareModal()" style="width: 100%;"></app-chat-input>
        </div>
    </div>
    <div [ngClass]="chatInputSettingsVisible ? 'slide-from-bottom' : 'slide-hidden'" class="slide-from-bottom-div" #chatInputSettings>
        <div class="chat-settings-menu">
            <div class="option">
                <p>Transcribir la llamada en curso</p>
                <i class="input-icon pi pi-play"></i>
            </div>
            <hr>
            <div class="option" (click)="showModalShareChat()">
                <p>Compartir Chat</p>
                <i class="input-icon pi pi-share-alt"></i>
            </div>
            <hr>
            <div class="option">
                <p>Voz a texto</p>
                <i class="input-icon pi pi-microphone" style="font-size: 22px;"></i>
            </div>
            <hr>
            <div class="option" (click)="toggleChatInputSettings()">
                <p>Cerrar</p>
                <i class="input-icon pi pi-times" style="color: #B91C1C;"></i>
            </div>
        </div>
    </div>
    <p-dialog header="Guardar tu consulta" [(visible)]="displayModalPrompt" [modal]="true">
        <div class="save-prompt">
            <div class="header">
                <p>Las consultas que guardes puedes acceder a ellas cuando quieras en tu librería de consultas. </p>
            </div>
            <div class="prompt-container">
                <div class="main">
                    <div class="prompt">
                        <div class="message-user">
                            <div class="message-blob">
                                <div class="header">
                                    <div class="user">
                                        <div class="circle-avatar"></div>
                                        <p>Juan Hernandez</p>
                                    </div>
                                </div>
                                <div class="message">
                                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                                </div>
                                <div class="details-icon">
                                    <div class="time">
                                        <small>12:20</small>
                                    </div>
                                    <!-- <i class="pi pi-microphone"></i> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inputs">
                    <div class="input-field">
                        <label>Nombre de la consulta</label>
                        <div class="input-container">
                            <i class="input-icon pi pi-pencil"></i>
                            <input type="text" class="input-login" placeholder="Nombre de consulta">
                        </div>
                    </div>
                    <div class="input-field">
                        <label>Categoria</label>
                        <div class="input-container">
                            <i class="input-icon pi pi-th-large"></i>
                            <!-- <input type="password" class="input-login" placeholder="amorpropio123"> -->
                            <select id="state" class="input-login" style="appearance: auto" placeholder>
                                <option>Educacion</option>
                                <option>Finanzas</option>
                                <option>Mercados Globales</option>
                                <option>Economia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button class="button button-primary button-full"><p>Guardar</p><i class="search-icon pi pi-upload"></i></button>
                </div>
            </div>
        </div>
    </p-dialog>
    <p-dialog header="Comparte link del chat" [(visible)]="displayModalShareChat" [modal]="true">
        <div class="save-prompt">
            <div class="header">
                <p>Mensajes que mandes despues de crear tu link no serán compartidos. Cualquier persona con el URL puede ver el chat compartido.</p>
            </div>
            <div class="prompt-container">
                <div class="main">
                    <div class="prompt">
                        <div class="message-user">
                            <div class="message-blob">
                                <div class="header">
                                    <div class="user">
                                        <div class="circle-avatar"></div>
                                        <p>Juan Hernandez</p>
                                    </div>
                                    <div class="icons">
                                        <i class="pi pi-pencil"></i>
                                        <i class="pi pi-save" (click)="showModalPrompt()"></i>
                                    </div>
                                </div>
                                <div class="message">
                                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                                </div>
                            </div>
                            <div class="details-icon">
                                <div class="time">
                                    <small>12:20</small>
                                </div>
                                <i class="pi pi-microphone"></i>
                            </div>
                        </div>
                        <div class="message-ai">
                            <div class="details-icon">
                                <div class="time">
                                    <small>12:21</small>
                                </div>
                                <i class="pi pi-microphone"></i>
                            </div>
                            <div class="message-blob-ai">
                                <div class="header">
                                    <div class="ai">
                                        <div class="circle-ai"></div>
                                        <p>Value AI</p>
                                    </div>
                                    <div class="icons">
                                        <i class="pi pi-thumbs-down"></i>
                                        <i class="pi pi-thumbs-up"></i>
                                        <i class="pi pi-copy"></i>
                                    </div>
                                </div>
                                <div class="message">
                                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                                </div>
                            </div>
                        </div>
                        <div class="message-user">
                            <div class="message-blob">
                                <div class="header">
                                    <div class="user">
                                        <div class="circle-avatar"></div>
                                        <p>Juan Hernandez</p>
                                    </div>
                                    <div class="icons">
                                        <i class="pi pi-pencil"></i>
                                        <i class="pi pi-save" (click)="showModalPrompt()"></i>
                                    </div>
                                </div>
                                <div class="message">
                                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                                </div>
                            </div>
                            <div class="details-icon">
                                <div class="time">
                                    <small>12:20</small>
                                </div>
                                <i class="pi pi-microphone"></i>
                            </div>
                        </div>
                        <div class="message-ai">
                            <div class="details-icon">
                                <div class="time">
                                    <small>12:21</small>
                                </div>
                                <i class="pi pi-microphone"></i>
                            </div>
                            <div class="message-blob-ai">
                                <div class="header">
                                    <div class="ai">
                                        <div class="circle-ai"></div>
                                        <p>Value AI</p>
                                    </div>
                                    <div class="icons">
                                        <i class="pi pi-thumbs-down"></i>
                                        <i class="pi pi-thumbs-up"></i>
                                        <i class="pi pi-copy"></i>
                                    </div>
                                </div>
                                <div class="message">
                                    <p>Hola!, ¿entonces estás interesado en invertir 10 millones de pesos en el fondo de inversión de Value? Si, podrías darme más información sobre que estrategia siguen y como/cuando puedo obtener mis beneficios?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-container">
                    <h5>Introducción a Value AI</h5>
                    <p>Julio 21 2023</p>
                </div>
                <div class="footer">
                    <button class="button button-primary button-full"><p>Copiar link</p><i class="search-icon pi pi-link"></i></button>
                </div>
            </div>
        </div>
    </p-dialog>   
</div>