<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="col-flex">
            <!-- <div class="header">
                <h3>Consumo de Tokens</h3>
            </div> -->
            <div class="card">
                <h1>153</h1>
                <h5 class="subheader">Número total de consultas</h5>
            </div>
            <div class="card">
                <h5 class="subheader">Uso del teleprompter en consultas</h5>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">132 Chats</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">116 Chats</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">99 Chats</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">86 Chats</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Consultas recurrentes</h5>
                <div class="leaderboard">
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <p>5</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <p>6</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid pt-5">
    <div class="col-12">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Plugins</h5>
                <div class="leaderboard">
                    <div class="plugin-row">
                        <div class="plugin">
                            <div class="plugin-image">
                                <i class="pi pi-th-large"></i>
                            </div>
                            <div class="plugin-name">
                                <p>Yahoo Finance</p>
                            </div>
                        </div>
                        <div class="consult-counter">
                            <p class="title">Total de consultas</p>
                            <p class="data">87</p>
                        </div>
                        <div class="frequency-counter">
                            <p class="title">Frequencia de uso</p>
                            <p class="data">3 veces por semana</p>
                        </div>
                        <div class="users">
                            <p class="title">Usuarios que mas lo utilizan</p>
                            <div class="users-image-container">
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                            </div>
                        </div>
                        <div class="likes-dislikes">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>65</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>14</p>
                            </div>
                        </div>
                    </div>
                    <div class="plugin-row">
                        <div class="plugin">
                            <div class="plugin-image">
                                <i class="pi pi-th-large"></i>
                            </div>
                            <div class="plugin-name">
                                <p>Bloomberg</p>
                            </div>
                        </div>
                        <div class="consult-counter">
                            <p class="title">Total de consultas</p>
                            <p class="data">120</p>
                        </div>
                        <div class="frequency-counter">
                            <p class="title">Frequencia de uso</p>
                            <p class="data">5 veces por semana</p>
                        </div>
                        <div class="users">
                            <p class="title">Usuarios que mas lo utilizan</p>
                            <div class="users-image-container">
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                            </div>
                        </div>
                        <div class="likes-dislikes">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>74</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>18</p>
                            </div>
                        </div>
                    </div>
                    <div class="plugin-row">
                        <div class="plugin">
                            <div class="plugin-image">
                                <i class="pi pi-th-large"></i>
                            </div>
                            <div class="plugin-name">
                                <p>Web (Bing)</p>
                            </div>
                        </div>
                        <div class="consult-counter">
                            <p class="title">Total de consultas</p>
                            <p class="data">158</p>
                        </div>
                        <div class="frequency-counter">
                            <p class="title">Frequencia de uso</p>
                            <p class="data">13 veces por semana</p>
                        </div>
                        <div class="users">
                            <p class="title">Usuarios que mas lo utilizan</p>
                            <div class="users-image-container">
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                            </div>
                        </div>
                        <div class="likes-dislikes">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>206</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>32</p>
                            </div>
                        </div>
                    </div>
                    <div class="plugin-row">
                        <div class="plugin">
                            <div class="plugin-image">
                                <i class="pi pi-th-large"></i>
                            </div>
                            <div class="plugin-name">
                                <p>BIVA</p>
                            </div>
                        </div>
                        <div class="consult-counter">
                            <p class="title">Total de consultas</p>
                            <p class="data">45</p>
                        </div>
                        <div class="frequency-counter">
                            <p class="title">Frequencia de uso</p>
                            <p class="data">1 veces por semana</p>
                        </div>
                        <div class="users">
                            <p class="title">Usuarios que mas lo utilizan</p>
                            <div class="users-image-container">
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                                <div class="user-image"></div>
                            </div>
                        </div>
                        <div class="likes-dislikes">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>12</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>