@import "../../../../variables";
.tabs {
    display: flex;
    padding: 16px 0px;
    align-items: flex-start;
    gap: 64px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    h4 {
        font-weight: 500;
        opacity: .6;
        text-align: center;
        transition: opacity 0.3s ease;
    }
}

.tab:hover {
    h4 {
        opacity: 1;
    }
}

.nav-border {
    border: $gray-50 2px solid;
    border-radius: 10px;
    margin-top: -20px;
    opacity: 1;
}

.tab-border {
    width: 0px;
    border: $secondary-color 2px solid;
    border-radius: 10px;
    margin: 0;
    display: none;
    transition: width .5s ease;
}

.active {
    h4 {
        font-weight: 500;
        opacity: 1;
    }
    .tab-border {
        display: block;
        border: $secondary-color 2px solid;
        width: 100%;
        animation: growWidth 0.5s forwards;
    }
}

@keyframes growWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
        /* Full width when active */
    }
}

::ng-deep .p-dropdown {
    background: transparent !important;
    border: none !important;
}

::ng-deep .p-focus {
    // box-shadow: 0 0 0 0.2rem $primary-color-focus;
    box-shadow: none;
    
}

::ng-deep .p-dropdown-label {
    color: $text !important;
    font-weight: 500 !important;
    font-size: 17.5px !important;
}

::ng-deep .p-highlight {
    color: $primary-color !important;
    background-color: $primary-color-light !important;
}