<!-- <div class="card">
    <p-tabView>
        <p-tabPanel header="Resumen">

        </p-tabPanel>
        <p-tabPanel header="Chats">
        </p-tabPanel>
        <p-tabPanel header="Consultas">
        </p-tabPanel>
        <p-tabPanel header="Agentes de Ventas">
        </p-tabPanel>
        <p-tabPanel header="Agentes de Uso General">
        </p-tabPanel>
    </p-tabView>
</div> -->
<nav class="navbar-dashboard">
    <div class="tabs">
        <div class="tab" routerLink="/dashboard/resumen" routerLinkActive="active">
            <h4>Resumen</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/chats" routerLinkActive="active">
            <h4>Chats</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/consultas" routerLinkActive="active">
            <h4>Consultas</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/agentes-ventas" routerLinkActive="active">
            <h4>Agentes de Ventas</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/agentes-general" routerLinkActive="active">
            <h4>Agentes de Uso General</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
    </div>
</nav>