<nav class="navbar-dashboard hidden lg:block">
    <div class="tabs">
        <div class="tab" routerLink="/dashboard/resumen" routerLinkActive="active">
            <h4>Resumen</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/chats" routerLinkActive="active">
            <h4>Chats</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/consultas" routerLinkActive="active">
            <h4>Consultas</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/agentes-ventas" routerLinkActive="active">
            <h4>Agentes de Ventas</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
        <div class="tab" routerLink="/dashboard/agentes-general" routerLinkActive="active">
            <h4>Agentes de Uso General</h4>
            <hr class="tab-border" routerLinkActive="active">
        </div>
    </div>
</nav>

<div class="block lg:hidden">
    <p-dropdown [options]="navOptions" [(ngModel)]="selectedNavOption" optionLabel="name" (ngModelChange)="navigateToPage(selectedNavOption)"></p-dropdown>
</div>