<div class="grid">
    <div class="col-12">
        <div class="col-flex">
            <div class="header">
                <h3>Actividad del Agente de Ventas</h3>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-12 xl:col-3">
        <div class="col-flex">
            <div class="card">
                <h1>47</h1>
                <h5 class="subheader">Total de Agentes de Ventas</h5>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Total de de consultas por Agente de Ventas</h5>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">132 Consultas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">116 Consultas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">99 Consultas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">86 Consultas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Frecuencia de uso por Agente de Ventas</h5>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">24 veces por semana</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">21 veces por semana</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">17 veces por semana</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">9 veces por semana</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Tiempo en la plataforma por Agente de Ventas</h5>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">34 semanas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">28 semanas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">26 semanas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">15 semanas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="col-flex">
            <div class="header">
                <h3>Mayor actividad de Agente de Ventas</h3>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="col-flex">
            <div class="card">
                <div class="leaderboard">
                    <h5 class="subheader">Agente de Ventas con más consultas realizadas</h5>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">132 Consultas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="col-flex">
            <div class="card">
                <div class="leaderboard">
                    <h5 class="subheader">Agente de Ventas con más chats iniciados</h5>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">87 Chats</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="col-flex">
            <div class="card">
                <div class="leaderboard">
                    <h5 class="subheader">Agente de Ventas con más tiempo en la plataforma</h5>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">32 semanas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid pt-5">
    <div class="col-12">
        <div class="col-flex">
            <div class="header">
                <h3>Evaluación de Agente de Ventas</h3>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="col-flex">
            <div class="card">
                <h1>63</h1>
                <h5 class="subheader">Total de ventas cerradas</h5>
            </div>
            <div class="card">
                <h5 class="subheader">Ventas cerradas por Agente de Ventas</h5>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">34 ventas cerradas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">27 ventas cerradas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">21 ventas cerradas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">13 ventas cerradas</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Ventas cerradas por temporada</h5>
                <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="col-flex">
            <div class="card">
                <h5 class="subheader">Mapa de palabras clave</h5>
                <div class="word-box">
                    <div class="word word-80" data-tooltip="Details for Inversión">Inversión
                        <div class="tooltip">
                            <p class="ranking">Ranking #1</p>
                            <p class="show">1,285 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-70" data-tooltip="Details for Inversión">Activo
                        <div class="tooltip">
                            <p class="ranking">Ranking #2</p>
                            <p class="show">1,032 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-60" data-tooltip="Details for Inversión">Completo
                        <div class="tooltip">
                            <p class="ranking">Ranking #3</p>
                            <p class="show">826 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-55" data-tooltip="Details for Inversión">Comercial
                        <div class="tooltip">
                            <p class="ranking">Ranking #4</p>
                            <p class="show">749 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-50" data-tooltip="Details for Inversión">Ventas Netas
                        <div class="tooltip">
                            <p class="ranking">Ranking #5</p>
                            <p class="show">716 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-45" data-tooltip="Details for Inversión">Procedimiento ASCI
                        <div class="tooltip">
                            <p class="ranking">Ranking #6</p>
                            <p class="show">637 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-35" data-tooltip="Details for Inversión">Privado
                        <div class="tooltip">
                            <p class="ranking">Ranking #7</p>
                            <p class="show">375 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-35" data-tooltip="Details for Inversión">Banco de México
                        <div class="tooltip">
                            <p class="ranking">Ranking #8</p>
                            <p class="show">328 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-35" data-tooltip="Details for Inversión">Ejecutivo de ventas
                        <div class="tooltip">
                            <p class="ranking">Ranking #9</p>
                            <p class="show">278 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-30" data-tooltip="Details for Inversión">Digital
                        <div class="tooltip">
                            <p class="ranking">Ranking #10</p>
                            <p class="show">246 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-25" data-tooltip="Details for Inversión">Capacidad
                        <div class="tooltip">
                            <p class="ranking">Ranking #11</p>
                            <p class="show">110 veces mostrado</p>
                        </div>
                    </div>
                    <div class="word word-25" data-tooltip="Details for Inversión">ChatGPT
                        <div class="tooltip">
                            <p class="ranking">Ranking #12</p>
                            <p class="show">22 veces mostrado</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>