<!-- modal.component.html -->
<p-dialog header="Modal Dialog" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" styleClass="prompt-modal">
    <p>Modal content goes here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus non fugit magni omnis corporis, amet ad quibusdam iste inventore aliquam impedit recusandae illum quo aspernatur esse, consequuntur architecto distinctio repellat?</p>
    <button pButton type="button" (click)="displayModal = false" label="Close"></button>
</p-dialog>
