<div class="grid pt-3">
    <div class="col-12 lg:col-4">
        <div class="col-flex">
            <div class="header">
                <h3>Consumo de Tokens</h3>
            </div>
            <div class="card">
                <h1>76</h1>
                <h4 class="subheader">Total de Tokens Consumidos</h4>
            </div>
            <div class="card">
                <h4 class="subheader">Consumo de Tokens por Usuario</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">132 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">116 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">99 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">86 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h4 class="subheader">Consumo de Tokens por modelo de IA</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">GPT-4</p>
                                <p class="token">132 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">GPT-3</p>
                                <p class="token">116 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">Value AI</p>
                                <p class="token">99 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4">
        <div class="col-flex">
            <div class="header">
                <h3>Número total de consultas</h3>
            </div>
            <div class="card">
                <h1>113</h1>
                <h4 class="subheader">Total de consultas realizadas</h4>
            </div>
            <div class="card">
                <h4 class="subheader">Consultas por usuario</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">132 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Thisal Mathiyazhagan</p>
                                <p class="token">116 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Helen Chuang</p>
                                <p class="token">99 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Lura Silverman</p>
                                <p class="token">86 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>4</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h4 class="subheader">Consultas por modelo de IA</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">GPT-4</p>
                                <p class="token">132 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>1</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">GPT-3</p>
                                <p class="token">116 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>2</p>
                            <i class="pi pi-caret-down" style="color: #FF3E13;"></i>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">Value AI</p>
                                <p class="token">99 Tokens</p>
                            </div>
                        </div>
                        <div class="position">
                            <p>3</p>
                            <i class="pi pi-caret-up" style="color: #1FE08F;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4">
        <div class="col-flex">
            <div class="header">
                <h3>Usuarios con mayor actividad</h3>
            </div>
            <div class="card">
                <h4 class="subheader">Usuario con más consultas realizadas</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">132 Tokens</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h4 class="subheader">Usuario con más chats iniciados</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">165 Chats</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h4 class="subheader">Usuario con más tiempo en la plataforma</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="user-image"></div>
                            <div class="username-tokens">
                                <p class="username">Jesse Thomas</p>
                                <p class="token">32 Semanas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid pt-5">
    <div class="col-12">
        <div class="col-flex">
            <div class="header">
                <h3>Calidad de las respuestas</h3>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4">
        <div class="col-flex">
            <div class="card">
                <div class="flex justify-content-around align-items-center">
                    <div class="likes">
                        <div class="likes-counter">
                            <i class="pi pi-thumbs-up"></i>
                            <h1>238</h1>
                        </div>
                        <h4>Total de likes</h4>
                    </div>
                    <div class="vertical-rule"></div>
                    <div class="likes">
                        <div class="likes-counter">
                            <i class="pi pi-thumbs-down"></i>
                            <h1>48</h1>
                        </div>
                        <h4>Total de dislikes</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <h4 class="subheader">Consultas por modelo de IA</h4>
                <div class="leaderboard">
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">GPT-4</p>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">GPT-3</p>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-row">
                        <div class="user">
                            <div class="ai-image">
                                <img src="../../../../assets/dashboard/brain_ai.svg" alt="brain_ai">
                            </div>
                            <div class="username-tokens">
                                <p class="username">Value-AI</p>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-8">
        <div class="col-flex">
            <div class="card">
                <h4 class="subheader">Likes y dislikes por consulta</h4>
                <div class="leaderboard">
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>
                    <div class="consult-row">
                        <div class="user">
                            <div class="comment-image">
                                <i class="pi pi-comment"></i>
                            </div>
                            <div class="consult-container">
                                <div class="consult-wrapper">
                                    <p class="consult">Los procedimientos necesarios para llevar a cabo una licitación en donde el cliente pida un rembolso en caso de mal servicio?</p>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <div class="wrapper">
                                <i class="pi pi-thumbs-up" style="color: #1FE08F;"></i>
                                <p>243</p>
                            </div>
                            <div class="wrapper">
                                <i class="pi pi-thumbs-down" style="color: #FF3E13;"></i>
                                <p>243</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>