<div class="overflow-x-hidden" style="background-color: #FAFAFA; ">
    <div class="hidden md:block">
        <app-navbar></app-navbar>
    </div>
    <div class="block md:hidden">
        <div class="Navbar" style="width: 100%; height: 50px; padding-left: 13px; padding-right: 13px; padding-top: 12px; padding-bottom: 12px; background: #033D48; justify-content: space-between; align-items: center; display: flex">
            <div class="Bars" style="width: 24px; height: 24px; padding-left: 4.25px; padding-right: 4.25px; padding-top: 6.75px; padding-bottom: 6.75px; justify-content: center; align-items: center; display: flex">
              <div class="Bars" style="width: 15.50px; height: 10.50px; position: relative">
                <div class="Vector" style="width: 15.50px; height: 1.50px; left: 0px; top: 4.50px; position: absolute; background: white"></div>
                <div class="Vector" style="width: 15.50px; height: 1.50px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div class="Vector" style="width: 15.50px; height: 1.50px; left: 0px; top: 9px; position: absolute; background: white"></div>
              </div>
            </div>
            <div class="ObedGonzales" style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Obed Gonzales</div>
            <div class="Puzzle53389171" style="width: 24px; height: 24px; position: relative">
              <div class="Vector" style="width: 17.77px; height: 17.77px; left: 3.11px; top: 3.11px; position: absolute; background: white"></div>
            </div>
          </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>