@import '../../../../styles.scss';
@import '../../../../variables';
.Navbar {
    width: 100%;
    height: 50px;
    padding: 12px;
    background: #033D48;
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow: hidden;
    i {
        color: #FFF;
    }
    p {
        color: white;
        font-weight: 400;
    }
}

.chat-container {
    height: calc(100vh - 50px);
    overflow-y: hidden;
    @media (min-width: 768px) {
        height: calc(100vh - 80px);
    }
}

.column-chat {
    height: 100%;
    position: relative;
}

.main-container {
    display: flex;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0px;
    border: 1px solid rgba(3, 61, 72, 0.25);
    background: #FFF;
    gap: 16px;
    @media (min-width: 768px) {
        border-radius: 10px;
    }
    .top-container {
        display: flex;
        width: 100%;
        height: calc(100vh - 500px);
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 2;
        gap: 32px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
        // background-color: #FFF;
        // background-color: #B91C1C;
        .message-user {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            .message-blob {
                display: flex;
                padding: 16px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;
                border-radius: 12px;
                background: #F4F4F4;
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    .user {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .circle-avatar {
                            width: 32px;
                            height: 32px;
                            border-radius: 100px;
                            background-image: url("https://i.pravatar.cc/32");
                        }
                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                    .icons {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            .details-icon {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
        .message-ai {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 16px;
            .message-blob-ai {
                display: flex;
                width: 100%;
                padding: 16px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                background-color: $primary-color-light;
                border-radius: 12px;
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    .ai {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .circle-ai {
                            width: 32px;
                            height: 32px;
                            border-radius: 100px;
                            background-color: green;
                        }
                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                    .icons {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            .details-icon {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .button-down-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                align-self: stretch;
                .circle-button {
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    background: #EFEFEF;
                    padding: 8px;
                }
            }
        }
    }
    .bottom-container {
        position: sticky;
        bottom: 2%;
        background-color: transparent;
        width: 100%;
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            width: 100%;
            .actions {
                display: flex;
                justify-content: center;
                // align-items: flex-end;
                gap: 8px;
                width: 100%;
                position: absolute;
                top: -60px;
                left: 0;
                .button-refresh {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    border: $gray-100 1px solid;
                    background: $gray-background;
                    i,
                    span {
                        color: $text;
                    }
                }
                .button-play {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    border: 1px solid rgba(34, 197, 94, 0.50);
                    background: #F6FDF9;
                    i,
                    span {
                        color: #15803D;
                    }
                }
                .button-stop {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    border: 1px solid rgba(185, 28, 28, 0.50);
                    background: #FEF8F8;
                    i,
                    span {
                        color: #B91C1C;
                    }
                }
            }
            .prompts {
                display: flex;
                gap: 8px;
                align-items: flex-end;
                width: 100%;
                .button-prompt {
                    display: flex;
                    padding: 8px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;
                    border-radius: 12px;
                    background: $secondary-color-light;
                    border: none;
                    font-size: 14px;
                    i,
                    span {
                        color: $text;
                    }
                }
            }
        }
    }
}

.column-chats-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    // height: calc(100vh - 96px);
    height: 100%;
    .wrapper-search-chats {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
        .search-box {
            display: flex;
            gap: 4px;
            .search-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                .search-container {
                    position: relative;
                }
                .search-icon {
                    position: absolute;
                    left: 10px;
                    /* Adjust the icon's position as needed */
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }
                label {
                    color: $text;
                    font-size: 16px;
                    font-weight: 500;
                }
                .search-input {
                    width: 100%;
                    padding-left: 30px;
                    padding-right: 8px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-radius: 10px;
                    border: 1px solid $primary-color;
                    background-color: $primary-color-light;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;
                    display: inline-flex;
                    font-size: 1em;
                }
            }
        }
        .chats {
            overflow-y: auto;
        }
        .all-chats,
        .client-chats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;
            width: 100%;
        }
        .header {
            display: flex;
            padding: 8px 0px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .title {
                display: flex;
                align-items: center;
                gap: 4px;
                color: $primary-color-dark;
                h5 {
                    color: $primary-color-dark;
                }
            }
            .button-plus {
                display: flex;
                padding: 8px;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                background: #E7FAFE;
                border: none;
            }
        }
        .chat {
            display: flex;
            padding: 16px 8px;
            align-items: center;
            width: 100%;
            border-radius: 16px;
            background: $gray-background;
            .content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
            }
        }
        .chat:hover {
            transition: all 0.15s ease-in;
            background-color: $gray-100;
        }
        .chat-client {
            display: flex;
            padding: 16px 8px;
            align-items: center;
            width: 100%;
            border-radius: 16px;
            background: #EFEFEF;
            justify-content: space-between;
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
            }
            .actions {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        hr {
            width: 100%;
            margin: 0;
            border: rgba($color: $gray-100, $alpha: .25) 1px solid;
        }
        .actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            width: 100%;
        }
    }
}

#column-chats-list-col {
    display: flex;
    @media (max-width: 768px) {
        background-color: #FFF;
        position: absolute !important;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh;
        padding: 8px;
    }
}

#column-plugins-list-col {
    display: flex;
    @media (max-width: 768px) {
        background-color: #FFF;
        position: absolute !important;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh;
        padding: 8px;
    }
}

.column-plugins {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .header {
        color: $primary-color-dark;
        width: 100%;
        h5 {
            color: $primary-color-dark;
        }
        hr {
            width: 100%;
            border: rgba($color: $gray-100, $alpha: .25) 1px solid;
        }
    }
    .active-plugins,
    .inactive-plugins {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .title {
            display: flex;
            gap: 8px;
            align-items: center;
            .circle-number {
                background-color: $primary-color;
                border-radius: 100px;
                padding: 1px 6px;
                span {
                    color: #FFF;
                    font-size: 14px;
                }
            }
            p {
                color: $primary-color-dark;
                font-weight: 500;
            }
        }
        .plugins-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            .card-plugin {
                display: flex;
                width: 100%;
                padding: 8px 16px;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                border: 1px solid #05687A;
                background: #F0FCFE;
                cursor: pointer;
                .circle-plugin-icon {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    border: 2px solid #033D48;
                    background-color: $gray-100;
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
                .wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 2px;
                        p {
                            color: $primary-color-dark;
                        }
                        small {
                            color: $text;
                        }
                    }
                }
            }
            .inactive {
                opacity: .50;
            }
        }
    }
    .inactive {
        opacity: .50;
    }
}

.wrapper {
    display: flex;
    gap: 8px;
}

.card-user {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #121212;
    h2 {
        color: #FFF;
        font-weight: 400;
        margin: 0;
    }
    p {
        color: rgba(255, 255, 255, 0.50);
        margin: 0;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.toggle-button {
    padding: 0px 16px;
    border: none;
    @media (max-width: 768px) {
        display: none;
    }
}

.toggle-button:hover {
    background-color: $gray-100;
}

.wrapper-buttons {
    display: flex;
    justify-content: space-between;
}

.close-button {
    padding: 16px 16px;
    border: none;
    display: none;
    i {
        color: #B91C1C;
    }
    @media (max-width: 768px) {
        display: flex;
    }
}

.close-button:hover {
    background-color: $gray-100;
    i {
        color: #B91C1C;
    }
}

.settings-button {
    padding: 16px 16px;
    border: none;
    display: none;
    @media (max-width: 768px) {
        display: flex;
    }
}

.settings-button:hover {
    background-color: $gray-100;
}

.toggle-plugins-button {
    padding: 12px 16px;
    border: none;
}

.toggle-plugins-button:hover {
    background-color: $gray-100;
}

.button-absolute {
    position: absolute;
    border: none;
    z-index: 2;
    top: 5px;
    left: 5px;
    padding: 12px 12px 10px 12px;
    background-color: rgba($color: #05687A, $alpha: .50);
    @media (max-width: 768px) {
        display: none;
    }
    // @media (min-width: 769px) and (max-width: 992px) { 
    //     display: block !important;
    // }
}

.button-absolute-plugin {
    position: absolute;
    border: none;
    z-index: 2;
    top: 5px;
    right: 5px;
    padding: 12px 12px 10px 12px;
    background-color: rgba($color: #05687A, $alpha: .50);
    @media (max-width: 768px) {
        display: none !important;
    }
    @media (min-width: 769px) and (max-width: 992px) {
        display: block !important;
    }
}

.column-settings-mobile {
    display: none;
    @media (max-width: 768px) {
        background-color: #FFF;
        position: absolute !important;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh;
        padding: 8px;
        flex-direction: column;
        justify-content: space-between;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .header {
            display: flex;
            padding: 8px 0px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            h2 {
                color: $primary-color;
                font-weight: 500;
            }
        }
        .settings {
            overflow-y: auto;
        }
        .all-settings {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;
            width: 100%;
        }
        .setting {
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 16px;
            background: $gray-background;
             :hover {
                background: $gray-100;
            }
            .content {
                display: flex;
                padding: 16px 12px;
                width: 100%;
                border-radius: 16px;
                justify-content: space-between;
                align-items: center;
                gap: 6px;
                i {
                    color: $primary-color-dark;
                }
            }
        }
    }
    .buttons-container {
        .blob-avatar {
            border-radius: 10px;
            background-color: $gray-background;
            .blob-container {
                display: flex;
                padding: 8px 16px;
                align-items: center;
                gap: 8px;
                p {
                    margin: 0;
                    font-weight: 500;
                }
                .circle-avatar {
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;
                    background-image: url("https://i.pravatar.cc/32");
                }
            }
             :hover {
                border-radius: 10px;
                background-color: $gray-50;
            }
        }
        hr {
            border: 1px solid rgba($color: #033D48, $alpha: .25);
        }
    }
}

.save-prompt {
    .header {
        padding-bottom: 16px;
    }
    .prompt-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .main {
            overflow-y: auto;
            max-height: 350px;
            border-radius: 10px;
            border: 1px solid rgba(3, 61, 72, 0.25);
            background: #FFF;
            padding: 16px;
            .prompt {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                gap: 16px;
                .message-user {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    align-self: stretch;
                    .message-blob {
                        display: flex;
                        padding: 16px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        flex: 1 0 0;
                        border-radius: 12px;
                        background: #F4F4F4;
                        .header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            align-self: stretch;
                            .user {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                .circle-avatar {
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 100px;
                                    background-image: url("https://i.pravatar.cc/32");
                                }
                                p {
                                    margin: 0;
                                    font-weight: 600;
                                }
                            }
                            .icons {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                i {
                                    padding: 8px;
                                    border-radius: 50px;
                                }
                                i:hover {
                                    background-color: $gray-50;
                                }
                                i:active {
                                    background-color: $primary-color;
                                    color: #FFF;
                                }
                            }
                        }
                    }
                    .details-icon {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
                .message-ai {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 16px;
                    .message-blob-ai {
                        display: flex;
                        width: 100%;
                        padding: 16px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        background-color: $primary-color-light;
                        border-radius: 12px;
                        .header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            align-self: stretch;
                            .ai {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                .circle-ai {
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 100px;
                                    background-color: green;
                                }
                                p {
                                    margin: 0;
                                    font-weight: 600;
                                }
                            }
                            .icons {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                            }
                        }
                    }
                    .details-icon {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                    .button-down-container {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        align-self: stretch;
                        .circle-button {
                            display: flex;
                            align-items: center;
                            border-radius: 30px;
                            background: #EFEFEF;
                            padding: 8px;
                        }
                    }
                }
            }
        }
        .inputs {
            width: 100%;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;
            display: flex;
            .input-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                .input-container {
                    position: relative;
                }
                .input-icon {
                    position: absolute;
                    left: 10px;
                    /* Adjust the icon's position as needed */
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }
                label {
                    color: $text;
                    font-size: 16px;
                    font-weight: 500;
                }
                .input-login {
                    width: 100%;
                    align-self: stretch;
                    padding-left: 30px;
                    padding-right: 8px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-radius: 10px;
                    border: 0.50px #033D48 solid;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;
                    display: inline-flex;
                    font-size: 1em;
                }
            }
        }
        .footer {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}